@import 'partials/variables';

$lp-item-image-size: 24px;
$lp-item-padding: 10px;
$lp-item-width: $lp-item-image-size + ($lp-item-padding * 2);
$lp-item-height: $lp-item-width;

// Basic reset for toolbar
.lp-toolbar,
.lp-toolbar * {
    background: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: none;
}

// Toolbar
.lp-toolbar {
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
    background: $leafpub-black;
    border-radius: $border-radius;
    color: white;
    opacity: .25;
    transition: opacity 0.5s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

// Toolbar items
.lp-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: $lp-item-image-size $lp-item-image-size;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: $lp-item-width;
    height: $lp-item-height;
    line-height: $lp-item-height;
    float: left;
    transition: .2s transform ease;
    &:hover {
        color: #09d;
        transform: scale(1.2);
    }
}

// Icons via SVG
.lp-home { background-image: url('../img/logo-color.svg'); }
.lp-new-post { background-image: url('../img/icon-plus-white.svg'); }
.lp-edit-post, .lp-edit-author, .lp-edit-tag { background-image: url('../img/icon-pencil-white.svg'); }