@import "partials/variables";

$media-list-item-image-size: 4rem;

.editor {
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.editor-frame {
    border: none;
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: opacity .25s;
    opacity: 1;
    &.fade-out {
        opacity: 0;
    }
}

.post-image {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: $border-radius;
    // Enable hardware acceleration to prevent slow tabbing in the settings form
    transform: translate3d(0, 0, 0);
    .controls {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        .btn {
            margin-bottom: 0;
        }
    }
}

.settings-panel {
    .checkbox .badge {
        font-weight: 300;
        font-size: 1rem;
    }

    .meta-used {
        color: $leafpub-green;
        font-weight: bold;
    }
}


    
    .picture {
        display: flex;
        position: relative;
        height: 200px;//300px;
        background-size: cover;
        background-position: center;
        border-radius: $border-radius;
        .controls {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            .btn {
                margin-bottom: 0;
            }
            .btn i {
                transform: scale(1.2);
            }
        }
    }

    .media-list {
        //height: 100%;
        padding: .2rem 1rem;
        user-select: none;
        //width: 100%;
        display: none; // Needed set to important because our search changes display to "block"
        overflow-y: scroll;
    }

    .media-list-item {
        height: $media-list-item-image-size + 1rem;
        position: relative;
        text-align: center;
        border-radius: $border-radius-large;
        border: solid 2px white;
        padding: 1rem;
        padding-top: $media-list-item-image-size + 1.75rem;
        transition:
            color $leafpub-transition-speed,
            background-color $leafpub-transition-speed;
        .preview {
            position: absolute;
            top: 1rem;
            left: calc(50% - #{$media-list-item-image-size} / 2);
            width: $media-list-item-image-size;
            height: $media-list-item-image-size;
            overflow: hidden;
            img,
            i {
                background: $gray-light;
                width: $media-list-item-image-size;
                height: $media-list-item-image-size;
                line-height: $media-list-item-image-size;
                font-size: $media-list-item-image-size - 2rem;
                color: white;
                //border-radius: 50%;
                border-radius: $border-radius-large;
            }
        }
        .name h4{
            font-weight: bold;
            @include text-truncate;
            color: #09d;
        }
        .info {
            font-size: .9rem;
            color: $text-muted;
            @include text-truncate;
            transition: color $leafpub-transition-speed;
            padding: 5px;
            visibility: hidden;
            text-align: left;
        }
        &:hover {
            background-color: #f2f2f2;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
        &.selected {
            //height: $media-list-item-image-size + 10rem;
            background-color: $leafpub-blue;
        }
    }


.history-table {
    tr:first-child td {
        border-top: none;
    }
    td,
    th {
        vertical-align: middle;
    }
    .avatar {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        vertical-align: middle;
    }
    .loader {
        padding: 0 1.2rem;
    }
}

.history-none {
    text-align: center;
    font-size: 1.2rem;
    border: dashed 2px #ddd;
    border-radius: $border-radius-large;
    color: $text-muted;
    padding: 4rem 1rem;
    i {
        font-size: 5rem;
        display: block;
        margin-bottom: 1rem;
    }
}

.dropzone {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(white, .9);
    padding: 2rem;
    .dropzone-target {
        font-size: 2rem;
        font-weight: 700;
        color: $body-color;
        border: solid .5rem $body-color;
        border-radius: $border-radius-large;
        text-align: center;
        transition:
            $leafpub-transition-speed font-size,
            $leafpub-transition-speed color,
            $leafpub-transition-speed border-color;
        &.active {
            font-size: 2.5rem;
            color: $leafpub-blue;
            border-color: $leafpub-blue;
        }
        &:first-child {
            height: calc(30% - 1rem);
            margin-bottom: 1rem;
        }
        &:last-child {
            height: 70%;
        }
    }
}

@include media-breakpoint-down(xs) {
    .media-list {
        padding: 1rem 0;
    }
}