@import "partials/variables";
$media-list-item-image-size: 4rem;

.settings-form {
    padding: 2rem 1rem;
}

.nav-tabs {
    margin-bottom: 4rem;
}

.cover {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: $border-radius;
    .controls {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        .btn {
            margin-bottom: 0;
        }
        .btn i {
            transform: scale(1.2);
        }
    }
}

.logo,
.favicon {
    position: relative;
    overflow: hidden;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    .controls {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        .btn {
            margin-bottom: 0;
        }
        .btn i {
            transform: scale(1.2);
        }
    }
}

// Backups table
.backups-table {
    td,
    th {
        vertical-align: middle;
    }
    .loader {
        padding: 0 1.2rem;
    }
}

.backups-table-none {
    text-align: center;
    font-size: 1.2rem;
    border: dashed 2px #ddd;
    border-radius: $border-radius-large;
    color: $text-muted;
    padding: 4rem 1rem;
    i {
        font-size: 5rem;
        display: block;
        margin-bottom: 1rem;
    }
}

.media-list {
        //height: 100%;
        padding: .2rem 1rem;
        user-select: none;
        width: 100%;
        display: none; // Needed set to important because our search changes display to "block"
        overflow-y: scroll;
    }

    .media-list-item {
        height: $media-list-item-image-size + 1rem;
        position: relative;
        text-align: center;
        border-radius: $border-radius-large;
        border: solid 1px white;
        padding: 1rem;
        padding-top: $media-list-item-image-size + 1.75rem;
        transition:
            color $leafpub-transition-speed,
            background-color $leafpub-transition-speed;
        .preview {
            position: absolute;
            top: 1rem;
            left: calc(50% - #{$media-list-item-image-size} / 2);
            width: $media-list-item-image-size;
            height: $media-list-item-image-size;
            overflow: hidden;
            img,
            i {
                background: $gray-light;
                width: $media-list-item-image-size;
                height: $media-list-item-image-size;
                line-height: $media-list-item-image-size;
                font-size: $media-list-item-image-size - 2rem;
                color: white;
                //border-radius: 50%;
                border-radius: $border-radius-large;
            }
        }
        .name h4{
            font-weight: bold;
            @include text-truncate;
            color: #09d;
        }
        .info {
            font-size: .9rem;
            color: $text-muted;
            @include text-truncate;
            transition: color $leafpub-transition-speed;
            padding: 5px;
            visibility: hidden;
            text-align: left;
        }
        &:hover {
            background-color: #f2f2f2;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
        &.selected {
            //height: $media-list-item-image-size + 10rem;
            background-color: $leafpub-blue;
        }
    }

// XS breakpoint
@include media-breakpoint-down(xs) {
    .settings-form {
        padding: 1.5rem .5rem;
    }

    .nav-tabs {
        margin-bottom: 2rem;
    }
}