@import "partials/variables";
$badge-cover-blur: 35px;
$media-list-item-image-size: 4rem;

.cover {
    width: 100%;
    position: relative;
    height: 200px;
    background-color: #888;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    -webkit-transform: translateZ(0); // enable hardware acceleration in iOS
    &::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: inherit;
        filter: blur($badge-cover-blur);
    }
    .cover-controls {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
        .btn {
            margin: 0;
        }
        .btn i {
            transform: scale(1.2);
        }
    }

    .media-list {
        //height: 100%;
        padding: .2rem 1rem;
        user-select: none;
        width: 50%;
        margin-left: 25%;
        display: none; // Needed set to important because our search changes display to "block"
        overflow-y: scroll;
    }

    .media-list-item {
        height: $media-list-item-image-size + 1rem;
        position: relative;
        text-align: center;
        border-radius: $border-radius-large;
        border: solid 1px white;
        padding: 1rem;
        padding-top: $media-list-item-image-size + 1.75rem;
        transition:
            color $leafpub-transition-speed,
            background-color $leafpub-transition-speed;
        .preview {
            position: absolute;
            top: 1rem;
            left: calc(50% - #{$media-list-item-image-size} / 2);
            width: $media-list-item-image-size;
            height: $media-list-item-image-size;
            overflow: hidden;
            img,
            i {
                background: $gray-light;
                width: $media-list-item-image-size;
                height: $media-list-item-image-size;
                line-height: $media-list-item-image-size;
                font-size: $media-list-item-image-size - 2rem;
                color: white;
                //border-radius: 50%;
                border-radius: $border-radius-large;
            }
        }
        .name h4{
            font-weight: bold;
            @include text-truncate;
            color: #09d;
        }
        .info {
            font-size: .9rem;
            color: $text-muted;
            @include text-truncate;
            transition: color $leafpub-transition-speed;
            padding: 5px;
            visibility: hidden;
            text-align: left;
        }
        &:hover {
            background-color: #f2f2f2;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
        &.selected {
            //height: $media-list-item-image-size + 10rem;
            background-color: $leafpub-blue;
        }
    }
}

.cover-name {
    position: relative;
    top: 0;
    left: 0;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 1px rgba(black, .5), 0 -1px 0 rgba(black, .25);
    line-height: 200px;
    text-align: center;
    padding: 0 2rem;
    @include text-truncate;
}

.tag-form {
    padding: 2rem .5rem;
}