@import "partials/variables";
$user-cover-blur: 35px;
$user-avatar-size: 8rem;
$media-list-item-image-size: 4rem;

.cover {
    width: 100%;
    position: relative;
    height: 200px;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    -webkit-transform: translateZ(0); // enable hardware acceleration in iOS
    /*&::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: inherit;
        filter: blur($user-cover-blur);
    }*/
    .cover-controls {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
        .btn {
            margin: 0;
        }
        .btn i {
            transform: scale(1.2);
        }
    }

    .media-list {
        height: 100%;
        padding: .2rem 1rem;
        user-select: none;
        width: 50%;
        margin-left: 25%;
        display: none; // Needed set to important because our search changes display to "block"
        overflow-y: scroll;
    }

    .media-list-item {
        height: $media-list-item-image-size + 1rem;
        position: relative;
        text-align: center;
        border-radius: $border-radius-large;
        border: solid 1px white;
        padding: 1rem;
        padding-top: $media-list-item-image-size + 1.75rem;
        transition:
            color $leafpub-transition-speed,
            background-color $leafpub-transition-speed;
        .preview {
            position: absolute;
            top: 1rem;
            left: calc(50% - #{$media-list-item-image-size} / 2);
            width: $media-list-item-image-size;
            height: $media-list-item-image-size;
            overflow: hidden;
            img,
            i {
                background: $gray-light;
                width: $media-list-item-image-size;
                height: $media-list-item-image-size;
                line-height: $media-list-item-image-size;
                font-size: $media-list-item-image-size - 2rem;
                color: white;
                //border-radius: 50%;
                border-radius: $border-radius-large;
            }
        }
        .name h4{
            font-weight: bold;
            @include text-truncate;
            color: #09d;
        }
        .info {
            font-size: .9rem;
            color: $text-muted;
            @include text-truncate;
            transition: color $leafpub-transition-speed;
            padding: 5px;
            visibility: hidden;
            text-align: left;
        }
        &:hover {
            background-color: #f2f2f2;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
        &.selected {
            //height: $media-list-item-image-size + 10rem;
            background-color: $leafpub-blue;
        }
    }
}

.avatar {
    position: absolute;
    top: calc(50% - #{$user-avatar-size / 2});
    left: calc(50% - #{$user-avatar-size / 2});
    width: $user-avatar-size;
    height: $user-avatar-size;
    .image,
    .none {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba($leafpub-black, .25);
        border: solid .2rem rgba(black, .05);
        text-align: center;
        line-height: $user-avatar-size;
        font-size: $user-avatar-size - 2rem;
        color: white;
    }
    .inner {//.upload-avatar, .media-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: $user-avatar-size;
        border-radius: 50%;
        background: rgba(black, .5);
        text-align: center;
        color: white;
        font-size: 2rem;
        opacity: 0;
        transition: opacity $leafpub-transition-speed;
        cursor: pointer;
    }
    .media-file, .upload-avatar {
        cursor: pointer;
    }
    &:hover {
        .inner {//.upload-avatar, .media-file {
            opacity: 1;
        }
    }
}

.user-form {
    padding: 2rem .5rem;
}