.se-preview {
    background: #f2f2f2;
    border-radius: $border-radius;
    padding: 1rem;
    margin-bottom: 1rem;
    .se-title {
        font-size: 1.2rem;
        color: $leafpub-blue;
        @include text-truncate;
    }
    .se-url {
        font-size: .9rem;
        line-height: 1.8;
        color: $leafpub-green;
        @include text-truncate;
    },
    .se-description {
        @include text-truncate;
        white-space: initial;
    }
}