{{> header}}

{{!--> menu--}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 push-md-3 mt-3">
            <h1>Database Update</h1>
            <p>your database scheme version: {{dbScheme}}</p>
            <p>The actual scheme version: {{schemeVersion}}</p>
            <a href="#" class="btn btn-info startUpdate">Update</a>
        </div>
    </div>
</div>

{{> footer}}