<div class="navigation-list-item">
    <div class="nav-col handle">
        <i class="fa fa-fw fa-reorder"></i>
    </div>
    <div class="nav-col">
        <input class="label-input form-control" type="text" name="label[]" value="{{label}}" placeholder="{{L 'label'}}">
    </div>
    <div class="nav-col">
        <input class="link-input form-control" type="text" name="link[]" value="{{link}}" placeholder="{{L 'link'}}">
    </div>
    <div class="nav-col">
        <button class="delete btn btn-secondary" type="button">
            <i class="fa fa-fw fa-trash-o"></i>
        </button>
    </div>
</div>